{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>My Cart</title>
    <link href="{% static 'Statistics/css/styles.css' %}" rel="stylesheet">
</head>
<body>
  <div class="background-blur"></div> 
  
  <div class="nav-top">
    <a href="{% url 'homepage' %}">
      <button class="cart-btn back-btn">Back</button>
    </a>
  </div>

  <div class="home-container">
    <h2>Your Unique Numbers</h2>

    {% if cart %}
      <ul>
        {% for num in cart %}
          <li>{{ num }}</li>
        {% endfor %}
      </ul>

      <form method="post" action="{% url 'clear' %}">
        {% csrf_token %}
        <button class="cart-btn" style="margin-top: 20px;">Clear Cart</button>
      </form>
    {% else %}
      <p>No numbers in cart yet.</p>
    {% endif %}
  </div>

</body>
</html>
